name: Reusable Terraform Network Workflow

on:
  workflow_call:
    inputs:
      cloud:
        required: true
        type: string   
      environment:
        required: true
        type: string  
      action:
        required: true
        type: string  

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
     
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # ---------------------------
      - name: Azure Login (OIDC)
        if: inputs.cloud == 'azure'
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: AWS Login (OIDC)
        if: inputs.cloud == 'aws'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init
        working-directory: ${{ inputs.cloud }}/${{ inputs.environment }}

      - name: Terraform Validate
        run: terraform validate
        working-directory: ${{ inputs.cloud }}/${{ inputs.environment }}

      - name: Terraform Plan
        if: inputs.action == 'apply'
        run: terraform plan -out=tfplan
        working-directory: ${{ inputs.cloud }}/${{ inputs.environment }}

      # ---------------------------
      - name: Terraform Apply
        if: inputs.action == 'apply'
        run: terraform apply -auto-approve tfplan
        working-directory: ${{ inputs.cloud }}/${{ inputs.environment }}

      - name: Terraform Destroy
        if: inputs.action == 'destroy'
        run: terraform destroy -auto-approve
        working-directory: ${{ inputs.cloud }}/${{ inputs.environment }}